@charset "utf-8";

// color.
$baseColor: #282c34;
$mainColor: #61dafb;
$accentColor: #fb8261;
$black: #000;
$light-gray: #dedede;
$white: #fff;
$silver: #c0c0c0;
$base-color-transparent: rgba(40, 44, 52, 0.9);
