@charset "utf-8";

// color.
$base-color: #282c34;
$main-color: #61dafb;
$accent-color: #fb8261;
$black: #000;
$light-gray: #dedede;
$white: #fff;
$silver: #c0c0c0;
$base-color-transparent: rgba(40, 44, 52, 0.9);
