@charset "utf-8";

@import "_variables.scss";
@import "_mixin.scss";

$borderRadius: 4px;

.contact {
    position: relative;
    margin: 64px 0;
    text-align: center;

    @include mq(md) {
        padding: 0 2%;
    }

    &__title {
        position: absolute;
        top: 16px;
        left: 0;
        width: 400px;
        height: 180px;
        background-image: url("../../public/images/contact.svg");
        background-repeat: no-repeat;
        background-size: contain;

        @include mq(lg) {
            width: 320px;
        }

        @include mq(md) {
            width: 280px;
        }

        @include mq(sm) {
            width: 240px;
        }
    }

    &__required {
        padding: 2px 6px;
        border-radius: 4px;
        background-color: $accentColor;
        color: $white;
        font-size: 1.1rem;

        @include mq(md) {
            font-size: 1.0rem;
        }

        @include mq(sm) {
            font-size: 0.9rem;
        }
    }

    &__submit {
        margin: 32px 0;
        padding: 16px 120px;
        border-radius: 24px;
        box-shadow: 0 0 8px $mainColor;
        background-color: $mainColor;
        color: $baseColor;
        transition: all 300ms;

        @include mq(sm) {
            font-size: 1.0rem;
        }

        &:hover {
            box-shadow: 0 0 8px $accentColor;
            background-color: $accentColor;
            color: $white;
        }

        &:disabled {
            box-shadow: none;
            background-color: $lightGray;
            color: $silver;
        }
    }

    &__form-group {
        display: flex;
        flex-wrap: wrap;
        max-width: 1080px;
        width: 100%;
        margin: 0 auto;
        padding-top: 184px;

        @include mq(lg) {
            padding-top: 184px;
        }

        @include mq(md) {
            flex-direction: column;
            padding-top: 164px;
        }

        @include mq(sm) {
            padding-top: 148px;
        }

        &--label {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 40%;
            padding: 3% 4%;
            background-color: $silver;
            color: $baseColor;

            &:first-of-type {
                border-top-left-radius: $borderRadius;
            }

            &:last-of-type {
                border-bottom-left-radius: $borderRadius;
            }

            @include mq(md) {
                width: 100%;
                padding: 2% 4%;
                font-size: 1.0rem;
            }

            @include mq(sm) {
                font-size: 0.9rem;
            }
        }

        &--error-msg {
            margin-top: 8px;
            color: $accentColor;
            font-size: 0.9rem;
            font-weight: bold;
            text-align: left;

            @include mq(md) {
                font-size: 0.8rem;
            }

            @include mq(sm) {
                font-size: 0.7rem;
            }
        }

        &--input {
            width: 60%;
            padding: 3% 4%;
            background-color: $lightGray;
            color: $black;
            font-size: 1.1rem;
            font-weight: normal;

            &:first-of-type {
                border-top-right-radius: $borderRadius;
            }

            &:last-of-type {
                border-bottom-right-radius: $borderRadius;
            }

            @include mq(md) {
                width: 100%;
                padding: 4%;
                font-size: 0.9rem;
            }

            @include mq(sm) {
                font-size: 0.8rem;
            }

            &-text {
                width: 100%;
                height: 40px;
                padding: 8px;
                border-radius: 4px;
                box-shadow: 0 0 8px $mainColor;
                background-color: $white;
                font-size: 16px;
                text-align: left;
            }

            &-textarea {
                width: 100%;
                padding: 8px;
                border-radius: 4px;
                box-shadow: 0 0 8px $mainColor;
                background-color: $white;
                font-size: 16px;
                text-align: left;
            }
        }
    }
}
