@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap');
@import "_destyle.scss";
@import "_variables.scss";

html {
    font-size: 90%;
}

body {
    background-color: $base-color;
    color: $white;
    font-family: 'Crimson Pro', serif;
    font-size: 1.2rem;
    font-weight: bold;
}

.app {
    position: relative;
    min-height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
}

.wrapper {
    margin: 0 auto;
    padding: 0 4%;
}
