@charset "utf-8";

@import "_variables.scss";
@import "_mixin.scss";

.service-item {
    width : calc(100% / 3);
    padding: 0 2%;
    text-align: center;

    @include mq(md) {
        width: 100%;
    }

    &__title {
        margin-bottom: 8px;
        font-size: 2.0rem;
        letter-spacing: 2px;

        @include mq(sm) {
            font-size: 1.8rem;
        }
    }

    &__ruby {
        margin-bottom: 48px;
        font-size: 1.2rem;
        letter-spacing: 4px;

        @include mq(lg) {
            font-size: 1.0rem;
        }

        @include mq(md) {
            margin-bottom: 36px;
        }

        @include mq(sm) {
            margin-bottom: 24px;
        }
    }

    &__icon {
        padding: 32px;
        border-radius: 24px;
        box-shadow: 0 0 8px $mainColor;
        background-color: $mainColor;
        color: $baseColor;
        font-size: 124px;

        @include mq(sm) {
            padding: 24px;
            font-size: 96px;
        }
    }

    &__description {
        margin-top: 48px;
        font-size: 1.2rem;
        line-height: 2.0;
        text-align: left;

        @include mq(lg) {
            font-size: 1.0rem;
        }

        @include mq(md) {
            margin-top: 36px;
            font-size: 1.0rem;

            &:not(:first-child) {
                margin-bottom: 40px;
            }
        }

        @include mq(sm) {
            margin-top: 24px;
            font-size: 1.0rem;
        }
    }
}
